

.no-page-found {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-page-found img {
  width: 50%;
}

.no-page-found .npf-404 {
  font-size: 4rem;
}

.no-page-found .npf-go-home-btn {
  font-size: 2rem;
  margin: 2rem;
  padding: 2rem;
  border-radius: 3rem;

}