.landing-page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70% 27%;
}

.landing-page .data-emphasis {
  font-weight: 600;
  color: blue;
}

.landing-page .lp-section {}

.landing-page .lp-sub-section {}

.landing-page .main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.landing-page .items-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.landing-page .lp-section .main {
  width: 100%;
  height: 100%;

}

.landing-page .lp-section .main .main-sub-section {
  position: absolute;
  top: 0;
  left: 0;
}

.landing-page .main-section .main .ireps-splash-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  position: relative;
}

.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper {
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0.1rem solid;
}

.landing-page .main-section .main .ireps-splash-page .isp {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 10%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper .ireps {
  font-size: 14rem;
  padding: 2rem;
  background-color: cornsilk;
  text-align: center;
}

.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper .what-is {
  width: 100%;
  height: 100%;
}

.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper .what-is .energy-network {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page .main-section .main .ireps-splash-page .ireps-fullname {
  width: 100%;
  height: 10%;
  font-size: 1.5rem;
  background-color: blanchedalmond;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper .what-is .what-is-header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgba(234, 233, 233, 0.694);
  color: blue;
}

/* type a */

.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper .what-is .what-is-type-a {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper .what-is .what-is-type-a .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.8rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 4rem;
}

/* type b */

.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper .what-is .what-is-type-b {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper .what-is .what-is-type-b .content {
  font-size: 1.5rem;
  padding: 0 1rem;
  line-height: 2.3rem;
}

.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper .what-is .what-is-type-b .type-b-contents {
  width: 100%;
  height: 100%;
}

/* type c */

.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper .what-is .what-is-type-c {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.7fr;
  gap: 1rem;
}


.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper .what-is .what-is-type-c .type-c-contents {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
}

/* what is diagram */

.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper .what-is .main-challenge,
.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper .what-is .ireps-offer {
  position: relative;
}

.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper .what-is .what-is-container {
  position: absolute;
  top: 1%;
  right: 0;
  width: 40%;
  padding: 1rem;
  outline: 0.1rem solid;
  margin: 1rem;
}

.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper .what-is .trns-what-is-container {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page .main-section .main .ireps-splash-page .isp .isp-inner-wrapper .what-is .ireps-offer-container {
  position: absolute;
  top: 1%;
  right: 0;
  width: 30%;
  padding: 1rem;
  outline: none;
  margin: 1rem;
}

/* transactions section */

.landing-page .main-section .ireps-transactions .transactions-section {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: relative;
}

.landing-page .main-section .ireps-transactions .transactions-section .transactions-heading {
  width: 100%;
  height: 10%;
  font-size: 1.5rem;
  background-color: blanchedalmond;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page .main-section .main .ireps-splash-page .ireps {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .what-is-ireps {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .properly-managed-asts {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .utility-network {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .distribution-network {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .distribution-network-challenges {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .main-challenge {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .ireps-offer {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .meter-alarm-monitoring-and-response {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .mamar {
  opacity: 1;
}

/* transactions */

.landing-page .main-section .main .ireps-splash-page .trns-grv {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .trns-installation {
  opacity: 1;
}

.landing-page .main-section .main .ireps-splash-page .trns-commissioning {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .trns-audit {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .trns-tid {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .trns-inspection {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .trns-alarm {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .trns-disconnection {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .trns-reconnection {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .trns-vending {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .trns-decommissioning {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .trns-disposal {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .trns-missing {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .trns-return {
  opacity: 0;
}

.landing-page .main-section .main .ireps-splash-page .trns-sale {
  opacity: 0;
}

.landing-page .lp-section .capabilities {}

.landing-page .lp-section .asts {
  outline: 0.1rem solid;
}

.landing-page .lp-section .lp-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-around;
  align-items: center;
  background-color: khaki;
  font-size: 1.5rem;
  font-weight: 700;
  gap: 1rem;
  padding: 1rem;
}

.landing-page .lp-section .lp-header p {
  text-align: center;
}

.landing-page .lp-section .lp-header .lp-header-total-asts {
  background-color: var(---asts-secondary-color);
}

.landing-page .lp-section .lp-header .lp-header-total-trns {
  background-color: var(---trns-secondary-color);
}

.landing-page .lp-section .lp-header .lp-header-total-erfs {
  background-color: var(---erfs-secondary-color);
}

.landing-page .lp-section .asts-body,
.landing-page .lp-section .trns-body,
.landing-page .lp-section .erfs-body {
  height: var(---lp-section-body);
  position: relative;
  height: 80%;
  overflow: hidden;
}

.landing-page .lp-section .asts-body .assets,
.landing-page .lp-section .trns-body .trns,
.landing-page .lp-section .erfs-body .erfs {
  position: absolute;
  top: 0;
  left: 0;
  /* outline: 0.1rem solid; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
}

.landing-page .lp-section .asts-body .assets .wrapper,
.landing-page .lp-section .trns-body .trns .wrapper,
.landing-page .lp-section .erfs-body .erfs .wrapper {
  width: 100%;
  height: 100%;
  outline: 0.1rem solid;
  /* border-radius: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page .lp-section .asts-body .assets .wrapper .ast-cat,
.landing-page .lp-section .trns-body .trns .wrapper .trn-type,
.landing-page .lp-section .erfs-body .erfs .wrapper .erf-status {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.landing-page .lp-section .asts-body .assets .wrapper .ast-cat {
  background-color: var(---asts-primary-color);
}

.landing-page .lp-section .trns-body .trns .wrapper .trn-type {
  background-color: var(---trns-primary-color);
}

.landing-page .lp-section .erfs-body .erfs .wrapper .erf-status {
  background-color: var(---erfs-primary-color);
}

.landing-page .lp-section .asts-body .assets .wrapper .total,
.landing-page .lp-section .trns-body .trns .wrapper .total,
.landing-page .lp-section .erfs-body .erfs .wrapper .total {
  font-size: 5rem;
}

/* ast cat */

.landing-page .lp-section .seal {
  animation-name: flyin, opacityChange;
  animation-duration: 15s, 15s;
  animation-timing-function: ease-out, ease-out;
  animation-delay: 0s, 0s;
  animation-iteration-count: infinite, infinite;
  animation-direction: normal, normal;
  animation-fill-mode: none;
  opacity: 0;
}

.landing-page .lp-section .cb {
  animation-name: flyin, opacityChange;
  animation-duration: 15s, 15s;
  animation-timing-function: ease-out, ease-out;
  animation-delay: 5s, 5s;
  animation-iteration-count: infinite, infinite;
  animation-direction: normal, normal;
  animation-fill-mode: none;
  opacity: 0;
}

.landing-page .lp-section .meter {
  animation-name: flyin, opacityChange;
  animation-duration: 15s, 15s;
  animation-timing-function: ease-out, ease-out;
  animation-delay: 10s, 10s;
  animation-iteration-count: infinite, infinite;
  animation-direction: normal, normal;
  animation-fill-mode: none;
  opacity: 0;
}

/* trnTypes */

/* .landing-page .lp-section .installations {
  opacity: 0;
} */

/* .landing-page .lp-section .commissioning {
  opacity: 0;
} */

.landing-page .lp-section .audit {
  animation: all 12s ease-out 0s infinite normal none;
  /* opacityChange 12s ease-out 0s infinite normal none; */
  opacity: 0;
}

.landing-page .lp-section .inspection {
  animation: all 12s ease-out 3s infinite normal none;
  /* opacityChange 12s ease-out 3s infinite normal none; */
  opacity: 0;
}

.landing-page .lp-section .tid {
  animation: flyin 12s ease-out 6s infinite normal none,
    opacityChange 12s ease-out 6s infinite normal none;
  opacity: 0;
}

.landing-page .lp-section .disconnection {
  animation: flyin 12s ease-out 9s infinite normal none,
    opacityChange 12s ease-out 9s infinite normal none;
  opacity: 0;
}

.landing-page .lp-section .reconnection {
  animation: flyin 12s ease-out 12s infinite normal none,
    opacityChange 12s ease-out 12s infinite normal none;
  opacity: 0;
}

/* .landing-page .lp-section .sale {
  animation-name: flyin, opacityChange;
    animation-duration: 15s, 15s;
    animation-timing-function: ease-out, ease-out;
    animation-delay: 10s, 10s;
    animation-iteration-count: infinite, infinite;
    animation-direction: normal, normal;
    animation-fill-mode: none;
    opacity: 0;
} */

/* .landing-page .lp-section .returns {
  animation-name: flyin, opacityChange;
    animation-duration: 15s, 15s;
    animation-timing-function: ease-out, ease-out;
    animation-delay: 10s, 10s;
    animation-iteration-count: infinite, infinite;
    animation-direction: normal, normal;
    animation-fill-mode: none;
    opacity: 0;
} */

/* .landing-page .lp-section .missing {
  animation-name: flyin, opacityChange;
    animation-duration: 15s, 15s;
    animation-timing-function: ease-out, ease-out;
    animation-delay: 10s, 10s;
    animation-iteration-count: infinite, infinite;
    animation-direction: normal, normal;
    animation-fill-mode: none;
    opacity: 0;
} */

/* .landing-page .lp-section .found {
  animation-name: flyin, opacityChange;
    animation-duration: 15s, 15s;
    animation-timing-function: ease-out, ease-out;
    animation-delay: 10s, 10s;
    animation-iteration-count: infinite, infinite;
    animation-direction: normal, normal;
    animation-fill-mode: none;
    opacity: 0;
} */



/* .landing-page .lp-section .vending {
  opacity: 0;
}

.landing-page .lp-section .grv {
  opacity: 0;
}

.landing-page .lp-section .decommissioning {
  opacity: 0;
}

.landing-page .lp-section .dispose {
  opacity: 0;
} */



/* erfs */
.landing-page .lp-section .unknown {
  animation: flyin 15s ease-out 10s infinite normal none,
    opacityChange 15s ease-out 10s infinite normal none;
  opacity: 0;
}

.landing-page .lp-section .developed {
  animation: flyin 15s ease-out 5s infinite normal none,
    opacityChange 15s ease-out 5s infinite normal none;
  opacity: 0;
}

.landing-page .lp-section .not-developed {
  animation: flyin 15s ease-out 0s infinite normal none,
    opacityChange 15s ease-out 0s infinite normal none;
  opacity: 0;
}

.landing-page .lp-section .trns {
  outline: 0.1rem solid;
}

.landing-page .lp-section .erfs {
  outline: 0.1rem solid;
}


/* animations */

/* @keyframes flyin {
  0% {
    transform: perspective(700rem) translateZ(-700rem);
  }

  50% {
    transform: perspective(700rem) translateZ(700rem);
  }

  100% {
    transform: perspective(700rem) translateZ(700rem);
  }
} */

@keyframes opacityChange {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 700px) {
  .landing-page .lp-section {
    grid-template-columns: 1fr;
  }
}